<div ng-hide="vm.user" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-show="vm.user" layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <img ng-src="{{vm.profileImageURL}}" class="md-avatar" alt="">
        <div>
            <form name="submitForm">
                <md-input-container class="md-block">
                    <label>First Name</label>
                    <input ng-model="vm.firstname">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Middle Name</label>
                    <input ng-model="vm.middlename">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Last Name</label>
                    <input ng-model="vm.lastname">
                </md-input-container>
                <md-datepicker ng-model="vm.dateofbirth" md-placeholder="Date of Birth">
                </md-datepicker>
                <md-input-container class="md-block">
                    <label>Place of Birth</label>
                    <input ng-model="vm.placeofbirth">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Country of Birth</label>
                    <input ng-model="vm.countryofbirthh">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Address</label>
                    <input ng-model="vm.address">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Daytime Telephone Number</label>
                    <input ng-model="vm.dayno">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Mobile Telephone Number</label>
                    <input ng-model="vm.mobileno">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>E-mail Address</label>
                    <input ng-model="vm.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Job Title</label>
                    <input ng-model="vm.job">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input name="password" reauired type="password" ng-model="vm.password">
               </md-input-container>
               <md-input-container>
                    <label>Repeat Password</label>
                    <input name="rpassword" reauired type="password" ng-model="vm.rpassword">
               </md-input-container>
                <section>
                    <md-button class="md-raised md-primary" ng-click="vm.submit()">Submit</md-button>
                </section>
            </form>
        </div>
    </md-content>
</div>