    <md-content>
      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="item in vm.forms" ng-click="null">
          <img ng-src="{{ vm.forms[$index].profileImageURL }}" alt="" class="md-avatar" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ "Name: ".concat(vm.forms[$index].name) }}</h3>
            <h4>{{ "Date submitted: ".concat(vm.forms[$index].dateSubmitted) }}</h4>
          <div>  
            <md-button class="md-raised md-secondary md-warn md-hue-2" ng-click="vm.deleteItem($index)">Delete</md-button>
           </div>
        </md-list-item>
       </md-list flex> 
   <md-content>
</div>
